.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav-bar {
  padding: .75rem 4rem;
  width: 100%;
  background-color: cadetblue
}

.nav-bar li {
  display: inline-block;
  padding: 26px 0;
  width: 33.3%;
  text-align: center;
}

.wrapper {
  background: white;
}

/* .header {
  background-image: url("https://cdn.shopify.com/s/files/1/0653/3653/collections/DUNDERMIFFLINBLACK_480x480.gif?v=1501084360");
  background-color: #2c323c;
  /* background-repeat: repeat; */
  /* color: #fff;
  min-height: 50px;
  padding: 0px 20px;
  padding-bottom: 110px
}  */

p {
  display: none;
}

h1 {
  color: white;
}

  

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
